@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Contacto
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <input asp-for="Idcontacto" type="hidden" class="form-control" id="nombre">

            <div class="alert alert-danger" role="alert">
               Desea eliminar al contacto: @Html.DisplayTextFor(m => m.Nombre) ? <!---El dsiplayTextFor sirve para que al atibuto del model al que llame me aparezac en formato texto-->
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

